body {
  margin: 1em 2em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
  padding-bottom: 0.1em;
  margin-bottom: 0.2em;
  border-bottom: dotted 1px #ddd;
}
